.app-body {
    height: 650px;
}

.rxjs-logo {
    width: 70px;
    height: 70px;
    position: relative;
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.main-content {
    box-shadow: 0 -5px 2px 0 #e90a8e;
    margin-top: 5px;
    padding: 5px 10px 10px 10px;
    height: 100%;
}

.tab-content{
    padding: 10px;
}

.fetch-user-btn {
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: lavender;
    border: 1px hotpink double;
    cursor: pointer;
    outline: none;
}