<div class="app-body">
  <div>
    <img src="../assets/rxjs_logo.png" class="rxjs-logo" alt="RxJS Logo">
  </div>

  <div class="main-content">
    <mat-tab-group>
      <mat-tab label="Call Back"> 
        <div class="tab-content">
          <button #cbFetchBtn class="fetch-user-btn">Fetch User</button>
          <br>
          <br>
          <div #cbUserDiv></div>
        </div>
      </mat-tab>
      <mat-tab label="Promise"> 
        <div class="tab-content">
          <button #pFetchBtn class="fetch-user-btn">Fetch User</button>
          <br>
          <br>
          <div #pUserDiv></div>
        </div>  
      </mat-tab>
      <mat-tab label="Observable"> 
        <div class="tab-content">
          <button #obFetchBtn class="fetch-user-btn">Fetch User</button>
          <br>
          <br>
          <div #obUserDiv></div>
        </div>  
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
