<div class="app-body">
  <div>
    <img src="../assets/rxjs_logo.png" class="rxjs-logo" alt="RxJS Logo">
  </div>

  <div class="main-content">
    <mat-tab-group>
      <mat-tab label="Call Back"> 
        <div class="tab-content">
          Content 1
        </div>
      </mat-tab>
      <mat-tab label="Promise"> 
        <div class="tab-content">
          Content 2
        </div>  
      </mat-tab>
      <mat-tab label="Observable"> 
        <div class="tab-content">
          Content 3
        </div>  
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
